{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container">
  <div class="row first-row">
    <div class="col-sm-5">
      	<div class="leftcontact">
			<h1 class="judulsemua"> Contact </h1>
			<ul class="nav tengah">
		  		<li class="nav-item">
		    		<a class="nav-link" href="/home/">Home</a></li>
		  		<li class="nav-item">
		    		<a class="nav-link" href="/about/">About</a></li>
		  		<li class="nav-item">
		 			<a class="nav-link" href="/resume/">Resume</a></li>
		  		<li class="nav-item">
		    		<a class="nav-link" href="/contact/">Contact</a></li>
		    	<li class="nav-item">
		    		<a class="nav-link" href="/gallery/">Gallery</a></li>
			</ul>
		</div>
	</div>
	<div class="col-sm-7" >
		<h3 class="pgcontact"> If you want to collaborate with me – you are very welcome to contact me. </h3>
		<ul>
			<a target="_blank" href="https://www.google.com/maps/d/u/0/viewer?msa=0&mid=1IssG0DqqQbuV3ulKL7h07XCOjzI&ll=-6.28123181592152%2C106.89302050000003&z=12">
				<img class="gambar00" src="{% static 'assets/place.png' %}"></a>
			<a target="_blank" href="https://api.whatsapp.com/send?phone=6285718801232&text=Shintas%20Whatsapp">
				<img class="gambar11" src="{% static 'assets/whatsapp.png' %}"></a>
			<a target="_blank" href="https://www.linkedin.com/feed/">
				<img class="gambar22" src="{% static 'assets/Linkedin.png' %}"></a>
		</ul>
		<ul>
			<a class="textgambar textgambar00"> Depok,Indonesia</a>
			<a class="textgambar textgambar11"> 085718801232 </a>
			<a class="textgambar textgambar22"> Shintaf09 </a>
		</ul>	
		<ul>	
			<a target="_blank" href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWrRttWQXGjclPJnDJmbBxNZvTlPkMKhlJhDXTHqzffxzptXtWGLhNPfDMpprMWlKXBWGzDSl">
				<img class="gambar33" src= "{% static 'assets/Email.png' %}"></a>
			<a target="_blank" href="https://www.instagram.com/shi.nta/">
				<img class="gambar44" src="{% static 'assets/ig2.png' %}"></a>
			<a target="_blank" href="https://www.facebook.com/profile.php?id=100024804240490">
				<img class="gambar55" src="{% static 'assets/fb.jpg' %}"></a>
		</ul>
		<ul>
			<a class="textgambar textgambar33"> Shintaf09@gmail.com </a>
			<a class="textgambar textgambar44"> Shi.nta </a>
			<a class="textgambar textgambar55"> Shinta Fauziah </a>
		</ul>
	</div>
</div>
</div>
{% endblock %}