<ul class="nav tengah">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a></li>
        <li class="nav-item">
          <a class="nav-link" href="aboutme.html">About</a></li>
        <li class="nav-item">
        <a class="nav-link" href="resume.html">Resume</a></li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a></li>
        <li class="nav-item">
          <a class="nav-link" href="gallery.html">Gallery</a></li>
      </ul>