{% extends "base.html" %}

{% load static %}

{% block content %}
</body>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="leftresume">
        <h1 class="judulsemua"> Resume </h1>
          <ul class="nav tengah">
            <li class="nav-item">
              <a class="nav-link" href="/home/">Home</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/about/">About</a></li>
            <li class="nav-item">
            <a class="nav-link" href="/resume/">Resume</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/contact/">Contact</a></li>
            <li class="nav-item">
              <a class="nav-link" href="/gallery/">Gallery</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-7">
        <h1 class="pgresume"> Education </h1>
          <div class="timeline-wrapper"> 
            <ul class="StepProgress">
              <li class="StepProgress-item is-done">
                <div class="bold">Junior High School</div>
                <div> SMPN 3 Depok </div>
              </li>
              <li class="StepProgress-item is-done">
                <div class="bold">Junior High School</div>
                <div> SMAN 3 Depok</div>
                    <ul>
                    <li> Youth Organization RW 15 (2017-now)</li>
                    </ul>
              </li>
              <li class="StepProgress-item is-done">
                <div class="bold"> Bachelor's Degree</div>
                <div> University of Indonesia </div>
                  <ul> 
                    <li> Fundraising staff OIM UI 2018 </li>
                    <li> Fundraising staff Social Project 2018 </li>
                    <li> Jobfair staff Educare 2019 </li>
                    <li> Sponsorship staff Compfest XI 2019 </li>
                  </ul>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
	{% endblock %}